@font-face {
    font-family: "Gothic";
    src: url("../fonts/leaguegothic-regular-webfont.eot");
    src: url("../fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/leaguegothic-regular-webfont.woff2") format("woff2"),
         url("../fonts/leaguegothic-regular-webfont.woff") format("woff"),
         url("../fonts/leaguegothic-regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans Extra";
    src: url("../fonts/Open Sans ExtraBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
}

body {
  background: url("../img/bg_main.png") no-repeat;
}

.bg_gray1 {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 278px;
  background-image: url("../img/gray_bg.png");
}

.bg_purple {
  width: 100%;
  height: 341px;
  position: absolute;
  top: 846px;
  background-image: linear-gradient(to top, #322539, #745083);
  border-top: 1px solid #33253a;
  border-bottom: 1px solid #1d2f37;
  box-sizing: border-box;
}

.bg_white1 {
  width: 100%;
  height: 488px;
  position: absolute;
  top: 1187px;
  background-color: #f9f9f9;
  border-top: 1px solid #0d151b;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.bg_white2 {
  width: 100%;
  height: 121px;
  position: absolute;
  top: 1675px;
  background-color: #f9f9f9;
  border-top: 1px solid #fefefe;
  border-bottom: 1px solid #fefefe;
  box-sizing: border-box;
}

.bg_gray2 {
  width: 100%;
  height: 397px;
  position: absolute;
  top: 1796px;
  background-color: #ececec;
  border-top: 1px solid #d8d8d8;
  box-sizing: border-box;
}

.bg_footer {
  width: 100%;
  height: 114px;
  position: absolute;
  top: 2193px;
  background: url("../img/footer_bg.png") -250px;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 58px;
  margin-top: 50px;
  position: relative;
  overflow: hidden;
}

.logo {
  width: 155px;
  height: 58px;
  float: left;
  background: url("../img/logo.png") no-repeat;
}

.nav_menu {
  margin-top: 24px;
  float: right;
  font-size: 24px;
  font-family: Gothic, sans-serif;
}

.nav_menu__item {
  display: inline;
  margin-left: 37.5px;
}

.nav_menu__link {
  color: #fff;
  padding-right: 5px;
  padding-left: 5px;
  text-decoration: none;
}

.nav_menu__link:hover {
  border-bottom: 2px solid #edbfff;
}

.slider {
  width: 100%;
  height: 530px;
  margin-top: 152px;
}

.txt {
  width: 500px;
  margin-top: 96px;
  float: left;
}

.headline {
  font-family: Gothic, sans-serif;
  font-size: 59px;
  color: #fefefe;
}

.small_headline {
  font-family: Gothic, sans-serif;
  font-size: 30px;
  word-spacing: 3px;
  color: #edbfff;
}

.text {
  margin-top: 5px;
  font-family: 'Open Sans Light', sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
}

.iphones {
  width: 274px;
  height: 434px;
  margin-right: 70px;
  float: right;
  background-image: url("../img/iphones.png");
}

.arrow_left {
  width: 27px;
  height: 42px;
  float: left;
  background: url("../img/arrow_left.png") no-repeat;
}

.arrow_right {
  width: 27px;
  height: 42px;
  float: right;
  background: url("../img/arrow_right.png") no-repeat;
}

.sliders {
  margin-top: 36px;
  margin-right: 167px;
  float: right;
}

.sliders__link {
  width: 17px;
  height: 16px;
  display: inline-block;
  background: url("../img/slider.png") no-repeat;
}

.sliders__link--1 {
  margin-right: 1px;
}

.sliders__link:hover {
  background: url("../img/slider_hover.png") 0 -2px;
}

.blurbs {
  width: 100%;
  margin-top: 120px;
  position: relative;
  overflow: hidden;
}

.about {
  width: 276px;
  height: 200px;
  margin-top: 10px;
  float: left;
}

.icon {
  width: 31px;
  height: 31px;
  margin-top: 9px;
  float: left;
}

.about--1 {
  margin-left: 11px;
}

.icon--1 {
  background-image: url("../img/sprite.png");
}

.icon--1:hover {
  background-position: 0 -31px;
}

.about--2 {
  margin-left: 62px;
}

.icon--2 {
  background: url("../img/sprite.png") 62px 0;
}

.icon--2:hover {
  background-position: 62px -31px;
}

.about--3 {
  margin-left: 58px;
}

.icon--3 {
  background: url("../img/sprite.png") 31px 0;
}

.icon--3:hover {
  background-position: 31px -31px;
}

.blurbs__txt {
  width: 225px;
  height: 100%;
  float: right;
}

.blurbs__headline {
  margin-top: 4px;
  margin-left: 3px;
  word-spacing: 1px;
  font-family: Gothic, sans-serif;
  font-size: 29px;
  color: #fff;
}

.blurbs__text {
  height: 125px;
  overflow: hidden;
  margin-top: 7px;
  margin-left: 1px;
  font-family: 'Open Sans Light', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.blurbs__link {
  width: 58px;
  height: 28px;
  margin-top: 9px;
  float: right;
  display: block;
  background: url("../img/link.png") center no-repeat;
  box-sizing: border-box;
}

.blurbs__link:hover {
  background-image: url("../img/link_hover.png");
}

.blurbs__link--1 {
  margin-right: 7px;
}

.blurbs__link--2 {
  margin-right: 2px;
}

.corrector_960px {
  margin-left: 7px;
}

.corrector_text_960px {
  margin-left: 4px;
}

.content_body {
  width: 455px;
  height: 320px;
  margin-top: 165px;
  float: left;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.from_blog {
  margin-left: 45px;
}

.content_body__txt {
  width: 427px;
  height: 273px;
  margin-top: 1px;
  margin-left: 23px;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid transparent;
  box-shadow: 1px 1px 0 rgb(239, 239, 239);
}

.content_body__txt__headline {
  width: 208px;
  height: 23px;
  margin-top: 32px;
  margin-left: 39px;
  background-image: url("../img/content_body__txt_headline.png");
}

.content_body__txt__text {
  margin-top: 11px;
  margin-left: 39px;
  margin-right: 26px;
  font-family: "Open Sana Light", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.content_body__txt__sliders {
  margin-top: 5px;
  margin-left: 196px;
}

.sliders__link--margin2 {
  margin-left: 1px;
}

.sliders__link--margin3 {
  margin-left: 1px;
}

.sliders__link--margin4 {
  margin-left: 1px;
}

.sliders__link__content_body_txt {
  height: 18px;
  background: url("../img/slider_content_body.png") center;
}

.sliders__link__content_body_txt:hover {
  background: url("../img/slider_content_body_hover.png") center no-repeat;
}

.triangle {
  width: 0;
  height: 0;
  margin-left: 391px;
  border: 10px solid #fff;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.photo {
  position: absolute;
  top: 21px;
  left: 0;
  z-index: 1;
}

.content_body__txt__headline2 {
  margin-top: 35px;
  margin-left: 11px;
}

.posts {
  width: 435px;
  height: 180px;
  margin-top: 17px;
  margin-left: 11px;
}

.posts__li {
  height: 49px;
  padding-left: 66px;
  padding-top: 3px;
  background-repeat: no-repeat;
}

.posts__li--1 {
  margin-bottom: 15px;
  background-image: url("../img/posts_img1.png");
}

.posts__li--2 {
  margin-bottom: 12px;
  background-image: url("../img/posts_img2.png");
}

.posts__li--3 {
  background-image: url("../img/posts_img3.png");
}

.posts__a_headline {
  font-family: "Open Sans Extra", sans-serif;
  font-size: 17px;
  letter-spacing: -0.4px;
  word-spacing: -0.8px;
  color: #454545;
}

.posts__text {
  margin-top: 7px;
  font-family: "Open Sans Light", sans-serif;
  font-size: 16px;
  word-spacing: -0.7px;
  color: #454545;
}

.posts a {
  text-decoration: none;
}

.read_more {
  margin-top: 19px;
  margin-right: 6px;
  float: right;
  font-family: Gothic, sans-serif;
  font-size: 19px;
  word-spacing: -1.4px;
}

.logos {
  margin-top: 45px;
  margin-left: 75px;
  position: relative;
  overflow: hidden;
}

.logos__logos {
  width: 105px;
  height: 64px;
  margin-top: 50px;
  margin-right: 30px;
  float: left;
  background-repeat: no-repeat;
}

.logos__logos--1 {
  background-image: url("../img/logos1.png");
  background-position: center;
}

.logos__logos--2 {
  background-image: url("../img/logos2.png");
  background-position: center;
}

.logos__logos--3 {
  background-image: url("../img/logos3.png");
  background-position: center;
}

.logos__logos--4 {
  margin-left: -3px;
  background-image: url("../img/logos4.png");
  background-position: center;
}

.logos__logos--5 {
  margin-left: 8px;
  background-image: url("../img/logos5.png");
  background-position: center;
}

.logos__logos--6 {
  margin-left: 22px;
  background-image: url("../img/logos6.png");
  background-position: center;
}

footer {
  height: 365px;
  margin-top: 130px;
  position: relative;
}

.footer__txt {
  width: 279px;
  height: 205px;
  margin-right: 1px;
  overflow: hidden;
  float: left;
}

.footer__txt--2 {
  margin-left: 57px;
}

.footer__txt--3 {
  margin-left: 60px;
}

.footer__txt_960less {
  display: none;
}

.footer__copyright {
  margin-top: 18px;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 16px;
  color: #cacaca;
  letter-spacing: -0.1px;
  text-shadow: 1px 1px #fff;
}

.footer__headline {
  margin-top: -1.5px;
  margin-left: 1px;
  font-family: Gothic, sans-serif;
  font-size: 30px;
}

.footer__text {
  margin-top: 7px;
  margin-left: 1px;
  font-family: "Open Sans Light", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #787878;
}

.footer__text--1 {
  margin-top: 11px;
}

.footer__footer {
  margin-top: 100px;
  position: relative;
}

.nav_menu--footer {
  margin-top: 39px;
  float: left;
  font-size: 20px;
}

.nav_menu__item__footer {
  margin-right: 40px;
  display: inline;
}

.nav_menu__link--footer {
  padding: 0;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

.footer__designed {
  height: 59px;
  padding-top: 44px;
  margin-right: -2px;
  float: right;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

.footer__designed__1 {
  font-family: "Open Sans Light", serif;
  font-size: 12px;
}

.footer__designed__2 {
  font-family: "Open Sans Extra", serif;
  font-size: 12px;
}

/*------------------ Settings for 960px --------------------------------------*/
@media (max-width: 960px) {
  .wrapper {
    width: 960px;
    margin: 0;
  }
}

/*------------------ Settings for 768px --------------------------------------*/
@media screen and (max-width: 768px) {
  .wrapper {
    width: 768px;
    margin: 0 auto;
  }

  .bg_gray1 {
    top: 244px;
  }

  .bg_purple {
    height: 342px;
    top: 798px;
  }

  .bg_white1 {
    height: 488px;
    top: 1140px;
  }

  .bg_white2 {
    height: 122px;
    top: 1628px;
  }

  .bg_gray2 {
    height: 398px;
    top: 1748px;
  }

  .bg_footer {
    height: 201px;
    top: 2145px;
    background: url("../img/footer_bg_768.png") -250px;
  }

  header {
    height: 103px;
    margin-top: 68px;
  }

  .logo {
    height: 39px;
    margin-top: 1px;
    margin-left: 20px;
    margin-right: 150px;
    background: url("../img/logo_768.png") no-repeat;
  }

  .nav_menu {
    margin-left: 15px;
    margin-top: 35px;
    float: left;
  }

  .nav_menu__item {
    margin-left: 0;
    margin-right: 38px;
  }

  .slider {
    position: relative;
  }

  .txt {
    width: 270px;
    height: 186px;
    margin-top: 18px;
    margin-left: 44px;
    overflow: hidden;
  }

  .headline {
    font-size: 49px;
    word-spacing: -4px;
  }

  .small_headline {
    height: 24px;
    margin-top: 9px;
    font-size: 24px;
    word-spacing: 0;
    overflow: hidden;
  }

  .text {
    margin-top: 6px;
  }

  .iphones {
    margin-top: -102px;
    margin-right: 46px;
  }

  .sliders {
    margin-top: 27px;
    margin-right: 144px;
  }

  .arrows {
    top: 100px;
    position: absolute;
  }

  .arrow_left {
    background: url("../img/arrow_left_short.png");
    margin-left: -3px;
  }

  .arrow_right {
    margin-left: 717px;
    background: url("../img/arrow_right_short.png");
    float: left;
  }

  .blurbs {
    margin-top: 5px;
  }

  .about {
    width: 210px;
    height: 203px;
  }

  .about--1 {
    margin-left: 29px;
  }

  .blurbs__txt {
    width: 155px;
    margin-left: 22px;
    float: left;
  }

  .blurbs__headline {
    margin-top: 8px;
    margin-left: 1px;
    font-size: 23px;
  }

  .blurbs__text {
    height: 142px;
    margin-top: 5px;
    overflow: hidden;
  }

  .blurbs__link--768 {
    margin-top: 3px;
    margin-right: 7px;
  }

  .about--2 {
    margin-left: 42px;
  }

  .about--3 {
    margin-left: 51px;
  }

  .corrector_text_960px {
    margin-left: 0;
  }

  .icon--2 {
    background: url("../img/sprite.png");
  }

  .icon--2:hover {
    background-position: 0 -31px;
  }

  .icon--3 {
    background: url("../img/sprite.png");
  }

  .icon--3:hover {
    background-position: 0 -31px;
  }

  .content_body {
    width: 360px;
  }

  .content_body__txt {
    width: 313px;
    margin-top: 4px;
    margin-left: 44px;
    overflow: hidden;
  }

  .content_body__txt__headline {
    width: 86px;
    height: 43px;
    margin-top: 31px;
    margin-left: 38px;
    background-image: url("../img/content_body__txt_headline_768.png");
  }

  .content_body__txt__text {
    height: 145px;
    margin-top: 9px;
    overflow: hidden;
  }

  .triangle {
    display: none;
  }

  .content_body__txt__sliders {
    margin-top: 24px;
    margin-left: 159px;
  }

  .photo {
    top: 23px;
    left: 20px;
  }

  .from_blog {
    width: 340px;
    margin-left: 45px;
    margin-top: 167px;
  }

  .posts {
    width: 334px;
    margin-left: 9px;
  }

  .posts__text {
    height: 18px;
    overflow: hidden;
  }

  .posts__li--2 {
    margin-top: 16px;
  }

  .posts__li--3 {
    margin-top: 14px;
  }

  .read_more {
    display: none;
  }

  .posts:after {
    content: 'MORE BLOG POSTS';
    margin-top: 16px;
    margin-right: 6px;
    float: right;
    font-family: Gothic, sans-serif;
    font-size: 19px;
    word-spacing: -1.4px;
  }

  .logos {
    margin-left: 5px;
  }

  .logos__logos {
    margin-top: 51px;
    margin-right: 20px;
  }

  .logos__logos--3 {
    margin-left: -2px;
  }

  .logos__logos--5 {
    margin-left: 10px;
  }

  .logos__logos--6 {
    margin-left: 20px;
    margin-right: 7px;
  }

  .footer__txt {
    width: 208px;
    margin-right: 30px;
  }

  .footer__txt--1 {
    display: none;
  }

  .footer__txt--2 {
    display: none;
  }

  .footer__txt--3 {
    margin-left: 18px;
  }

  .footer__headline {
    margin-top: 1.5px;
    font-size: 24px;
  }

  .footer__text {
    margin-top: 8px;
  }

  .footer__txt--4 {
    margin-left: 27px;
  }

  .footer__txt--5 {
    margin-left: 25px;
    margin-right: 10px;
  }

  .footer__txt_960less {
    display: block;
  }

  .nav_menu--footer {
    margin-left: 20px;
    margin-top: 38px;
  }

  .footer__designed {
    margin-right: 21px;
    padding-top: 92px;
  }
}

/*------------------ Settings for 480px --------------------------------------*/
@media screen and (max-width: 480px) {
  .wrapper {
    width: 480px;
  }

  .bg_gray1 {
    height: 246px;
    top: 203px;
  }

  .bg_purple {
    height: 598px;
    top: 548px;
  }

  .bg_white1 {
    height: 788px;
    top: 1146px;
  }

  .bg_white2 {
    height: 233px;
    top: 1934px;
  }

  .bg_gray2 {
    height: 669px;
    top: 2166px;
  }

  .bg_footer {
    height: 200px;
    top: 2835px;
    background-image: url("../img/footer_bg_480.png");
  }

  header {
    height: 130px;
    text-align: center;
    overflow: inherit;
    box-sizing: border-box;
    border-top: 1px solid transparent;
  }

  .logo {
    float: none;
    margin-left: 164px;
    background: url("../img/logo_480.png") no-repeat;
  }

  .nav_menu_480 {
    width: 246px;
    height: 259px;
    left: 117px;
    margin: auto;
    margin-top: 23px;
    float: none;
    background-color: rgba(68, 55, 75, 0.85);
    border: 1px solid #1e282d;
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
  }

  .nav_menu_480__item {
    margin: 0;
    padding-bottom: 2px;
    display: block;
    box-sizing: border-box;
    border-top: 1px solid #664f70;
    border-bottom: 1px solid #36283e;
  }

  .nav_menu_480__item--1 {
    height: 47px;
    padding-top: 12px;
    border-radius: 10px 10px 0 0;
  }

  .nav_menu_480__item--2 {
    height: 42px;
    padding-top: 7px;
    background-color: rgba(43, 34, 49, 0.85);
  }

  .nav_menu_480__item--2:after {
    content: '';
    margin-top: 7px;
    display: block;
    border-top: 1px solid #edbfff;
    border-bottom: 1px solid #edbfff;
  }

  .nav_menu_480__item--3 {
    height: 41px;
    padding-top: 7px;
  }

  .nav_menu_480__item--4 {
    height: 42px;
    padding-top: 7px;
  }

  .nav_menu_480__item--5 {
    height: 44px;
    padding-top: 7px;
  }

  .nav_menu_480__item--6 {
    height: 41px;
    padding-top: 7px;
    border-bottom: 1px solid transparent;
  }

  .slider {
    height: 335px;
    margin-top: 15px;
    position: relative;
  }

  .txt {
    width: 229px;
    margin-top: 78px;
    margin-left: 0;
  }

  .headline {
    width: 200px;
    margin-top: 4px;
    margin-left: 40px;
    font-size: 36px;
  }

  .small_headline {
    width: 200px;
    height: 16px;
    margin-top: 5px;
    margin-left: 40px;
    font-size: 16px;
    overflow: hidden;
  }

  .text {
    display: none;
  }

  .iphones {
    width: 190px;
    height: 284px;
    margin-top: -20px;
    margin-left: 28px;
    margin-right: 0;
    float: left;
    overflow: hidden;
    background-image: url("../img/iphones_480.png");

  }

  .arrows {
    top: 92px;
    position: absolute;
  }

  .arrow_left {
    background: url("../img/arrow_left_short.png");
    margin-left: -3px;
  }

  .arrow_right {
    margin-left: 429px;
    background: url("../img/arrow_right_short.png");
    float: left;
  }

  .sliders {
    margin-top: -5px;
    margin-right: 195px;
    z-index: 10;
  }

  .blurbs {
    height: 593px;
  }

  .about {
    width: 430px;
    height: 143px;
    margin-top: 65px;
    margin-left: 31px;
  }

  .blurbs__txt {
    width: 377px;
    margin-left: 21px;
  }

  .blurbs__text {
    width: 100%;
    height: 77px;
  }

  .about--2 {
    margin-top: 14px;
  }

  .about--3 {
    margin-top: 18px;
  }

  .blurbs__link {
    margin-right: 5px;
  }

  .content_body {
    width: 470px;
    margin-top: 67px;
  }

  .content_body__txt {
    width: 416px;
  }

  .content_body__txt__headline {
    width: 208px;
    height: 23px;
    margin-top: 29px;
    background-image: url("../img/content_body__txt_headline.png");
  }

  .content_body__txt__text {
    height: 166px;
    margin-top: 16px;
    margin-left: 37px;
  }

  .content_body__txt__sliders {
    margin-top: 23px;
    margin-left: 205px;
  }

  .from_blog {
    width: 415px;
    margin-top: 13px;
    margin-left: 73px;

  }

  .posts {
    width: 344px;
  }

  .logos {
    margin-top: 54px;
  }

  .logos__logos--1 {
    margin-left: 60px;
    margin-right: 20px;
  }

  .logos__logos--4,
  .logos__logos--5,
  .logos__logos--6 {
    margin-top: 26px;
  }

  .logos__logos--4 {
    margin-left: 35px;
  }

  .logos__logos--6 {
    margin-left: 21px;
  }

  footer {
    height: 792px;
    margin-top: 119px;
  }

  .footer__content {
    height: 591px;
  }

  .footer__txt {
    width: 441px;
    height: 185px;
    margin-left: 17px;
    margin-right: 0;
  }

  .footer__txt--5 {
    margin-top: 3px;
  }

  .footer__headline,
  .footer__text {
    width: 440px;
  }

  .footer__text {
    height: 100px;
    overflow: hidden;
  }

  .footer__footer {
    width: 475px;
    margin: 0;
  }

  .nav_menu--footer {
    margin-top: 46px;
    font-size: 20px;
  }

  .nav_menu__item__footer {
    margin-right: 22px;
  }

  .footer__designed {
    margin-left: 171px;
    padding-top: 100px;
    float: none;
  }
}

/*------------------ Settings for 320px --------------------------------------*/
@media screen and (max-width: 320px) {
  .wrapper {
    width: 320px;
  }

  .bg_gray1 {
    display: none;
  }

  .bg_purple {
    height: 599px;
    top: 516px;
  }

  .bg_white1 {
    height: 787px;
    top: 1115px;
  }

  .bg_white2 {
    height: 423px;
    top: 1902px;
  }

  .bg_gray2 {
    display: none;
  }

  .bg_footer {
    height: 201px;
    top: 2324px;
    background-image: url("../img/footer_bg_480.png");
  }

  .logo {
    margin-left: 84px;
  }

  .nav_menu_480 {
    width: 114px;
    margin-top: 24px;
    margin-left: -14px;
    background-color: transparent;
    border: none;
  }

  .nav_menu_480__item {
    border: none;
  }

  .nav_menu_480__item--2 {
    display: none;
  }

  .nav_menu_480__item--3 {
    display: none;
  }

  .nav_menu_480__item--4 {
    display: none;
  }

  .nav_menu_480__item--5 {
    display: none;
  }

  .nav_menu_480__item--6 {
    display: none;
  }

  .slider {
    height: 300px;
  }

  .txt {
    width: 270px;
    height: 66px;
  }

  .headline {
    margin-top: 5px;
    margin-left: 64px;
    word-spacing: -1px;
  }

  .small_headline {
    width: 206px;
    margin-top: 2px;
    margin-left: 64px;
    font-size: 19px;
    word-spacing: -1px;
  }

  .text {
    display: none;
  }

  .iphones {
    display: none;
  }

  .arrow_right {
    margin-left: 269px;
  }

  .sliders {
    margin-top: 75px;
    margin-right: 115px;
  }

  .about {
    width: 290px;
    margin-top: 61px;
    margin-left: 30px;
  }

  .about--2 {
    margin-top: 14px;
  }

  .about--3 {
    margin-top: 30px;
  }

  .blurbs__txt {
    width: 220px;
    height: 140px;
  }

  .blurbs__link {
    margin-top: 4px;
    margin-right: 6px;
  }

  .content_body {
    width: 320px;
  }

  .content_body__txt {
    width: 256px;
    margin-top: 7px;
  }

  .content_body__txt__headline {
    width: 86px;
    height: 43px;
    margin-top: 26px;
    margin-left: 34px;
    background-image: url("../img/content_body__txt_headline_768.png");
  }

  .content_body__txt__text {
    margin-top: 6px;
  }

  .content_body__txt__sliders {
    margin-left: 141px;
  }

  .photo {
    top: 25px;
  }

  .from_blog {
    width: 311px;
    margin-top: 16px;
    margin-left: 9px;
  }

  .posts {
    width: 290px;
    height: 220px;
    margin-left: 11px;
  }

  .posts__a_headline {
    display: block;
    width: 156px;
    height: 19px;
    overflow: hidden;
  }

  .posts__text {
    margin-top: -10px;
  }

  .posts__li--2 {
    margin-top: -2px;
  }

  .posts__li--3 {
    margin-top: 19px;
  }

  .posts:after {
    margin-top: 14px;
    margin-right: 15px;
  }

  .logos {
    margin-top: 69px;
  }

  .logos__logos--1 {
    margin-left: 39px;
  }

  .logos__logos--3 {
    margin-top: 61px;
    margin-left: 45px;
  }

  .logos__logos--4 {
    margin-top: 61px;
    margin-left: -3px;
  }

  .logos__logos--5 {
    margin-top: 42px;
    margin-left: 36px;
  }

  .logos__logos--6 {
    margin-top: 42px;
  }

  footer {
    height: 162px;
    margin-top: 114px;
  }

  .footer__content {
    display: none;
  }

  .nav_menu--footer {
    display: none;
  }

  .footer__designed {
    width: 229px;
    margin-left: 91px;
    margin-right: 0;
    padding-top: 0;
  }
}
