@import 'fonts';
@import 'mixins';
.container__title-{
  display: none;
}
.wrapper{
  width: 1440px;
  height: 3398px;
  margin: 0 auto;
}
.header{
  height: 700px;
  background-color: #aaa;
  background-image: url('../img/header-background-img.png');
  position: relative;
  overflow: hidden;
}
.header__title{
  width: 180px;
  @include font('Montserrat Bold', 20px, #fff);
  margin-top: 46px;
  margin-left: 251px;
  letter-spacing: 1px;
  float: left;
}
.header__auth{
  width: 200px;
  margin-top: 38px;
  margin-right: 221px;
  position: relative;
  overflow: hidden;
  float: right;
}
.header__link{
  display: block;
  box-sizing: border-box;
  height: 36px;
  padding: 0 17px;
  float: left;
  border-radius: 20px;
  border: 2px solid transparent;
  @include font('Montserrat Bold', 14px, #fff);
  text-decoration: none;
  color: #fff;
  text-align: center;
  line-height: 33px;
}
.active{
  border: 2px solid #fff;
}
.header__container{
  position: relative;
  overflow: hidden;
  margin-top: 215px;
  text-align: center;
}
.container__title{
  width: 595px;
  margin: 0 auto;
  @include font('Montserrat Bold', 52px, #fff);
  line-height: 62px;
}
.container__txt{
  margin: 28px auto;
  @include font('Roboto Light', 24px, #fff);
  line-height: 20px;
  opacity: 0.75;
}
.header__link--{
  width: 223px;
  height: 40px;
  margin-left: 610px;
  margin-top: 11px;
  background-color: #ff4e50;
  line-height: 36px;
}
.sliders{
  width: 960px;
  height: 555px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.sliders__title{
  width: 288px;
  margin: 94px auto 34px;
  @include font('Montserrat Bold', 22px, #333);
}
.show-slider{
  width: 300px;
  height: 400px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  float: left;
}
.slider{
  width: 900px;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0
}
.slider li{
  float: left;
}
.width-height{
  width: 300px;
  height: 400px;
  position: relative;
  overflow: hidden;
  float: left;
}
.step{
  &__num{
    width: 70px;
    height: 20px;
    margin: 229px 0 15px 20px;
    padding-left: 3px;
    @include font('Montserrat Regular', 10px, #fff);
    text-align: center;
    line-height: 21px;
    letter-spacing: 2px;
    border-radius: 20px;
    background-color: #ff4e50;
  }
  &__title{
    margin-left: 20px;
    margin-bottom: 11px;
    @include font('Montserrat Bold', 24px, #fff);
  }
  &__txt{
    width: 265px;
    margin-left: 20px;
    @include font('Roboto Light', 15px, #ccc);
    line-height: 17px;
    letter-spacing: -0.45px;
  }
}
.step1{
  @extend .width-height;
  background-image: url('../img/1440-1.png');
}
.step2{
  @extend .width-height;
  background-image: url('../img/1440-2.png');
  &--{
    margin-top: 259px;
  }
}
.step3{
  @extend .width-height;
  background-image: url('../img/1440-3.png');
}
.control-prev{
  position: absolute;
  top: 153px;
  left: 21px;
}
.control-next{
  position: absolute;
  top: 153px;
  left: 250px;
}
.partners{
  width: 970px;
  height: 372px;
  margin: 95px auto 0;
  &__title{
    width: 402px;
    margin: 0 auto 32px;
    @include font('Montserrat Bold', 22px, #333);
  }
  &__list{
    position: relative;
    overflow: hidden;
  }
}
.partner{
  width: 220px;
  margin-left: 17px;
  margin-right: 3px;
  float: left;
  text-align: center;
  &__photo{
    margin-bottom: 10px;
    margin-left: 4px;
    }
  &__name{
    margin-bottom: 16px;
    @include font('Montserrat Bold', 14px, #333);
    line-height: 14px;
  }
  &__describe{
    @include font('Roboto Light', 14px, #666);
    line-height: 16px;
  }
}
.partners__other{
  display: block;
  width: 192px;
  height: 40px;
  margin: 39px auto 0;
  clear: both;
  @include font('Montserrat Bold', 14px, #ff4e50);
  text-align: center;
  line-height: 34px;
  border: 2px solid #ff4e50;
  border-radius: 23px;
  box-sizing: border-box;
}
