@font-face {
  font-family: 'Montserrat Bold';
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Regular';
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Light';
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.container__title- {
  display: none; }

.wrapper {
  width: 768px;
  height: 3658px;
  margin: 0 auto; }

.header {
  height: 700px;
  background: url("../img/header-background-img.png") -338px 0 no-repeat;
  position: relative;
  overflow: hidden; }

.header__title {
  width: 180px;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 20px;
  color: #fff;
  margin-top: 46px;
  margin-left: 49px;
  letter-spacing: 1px;
  float: left; }

.header__auth {
  width: 200px;
  margin-top: 38px;
  margin-right: 22px;
  position: relative;
  overflow: hidden;
  float: right; }

.header__link {
  display: block;
  box-sizing: border-box;
  height: 36px;
  padding: 0 17px;
  float: left;
  border-radius: 20px;
  border: 2px solid transparent;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  color: #fff;
  text-align: center;
  line-height: 33px; }

.active {
  border: 2px solid #fff; }

.header__container {
  position: relative;
  overflow: hidden;
  margin-top: 214px;
  text-align: center; }

.container__title {
  width: 595px;
  margin: 0 auto;
  padding-right: 4px;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 52px;
  color: #fff; }

.container__txt {
  margin: 28px auto;
  padding-right: 3px;
  font-family: "Roboto Light", sans-serif;
  font-size: 24px;
  color: #fff;
  line-height: 20px;
  opacity: 0.75; }

.header__link-- {
  width: 223px;
  height: 40px;
  margin-left: 271px;
  margin-top: 10px;
  background-color: #ff4e50;
  line-height: 36px; }

.sliders {
  width: 768px;
  height: 555px;
  position: relative;
  overflow: hidden; }

.sliders__title {
  width: 288px;
  margin: 94px auto 34px;
  padding-left: 8px;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 22px;
  color: #333; }

.show-slider {
  width: 236px;
  height: 400px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  float: left; }

.slider {
  width: 900px;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0; }

.slider li {
  float: left; }

.width-height, .step1, .step2, .step3 {
  width: 236px;
  height: 400px;
  position: relative;
  overflow: hidden;
  float: left; }

.step__num {
  width: 70px;
  height: 20px;
  margin: 212px 0 15px 19px;
  padding-left: 3px;
  font-family: "Montserrat Regular", sans-serif;
  font-size: 10px;
  color: #fff;
  text-align: center;
  line-height: 21px;
  letter-spacing: 2px;
  border-radius: 20px;
  background-color: #ff4e50; }

.step__title {
  margin-left: 19px;
  margin-bottom: 11px;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 24px;
  color: #fff; }

.step__txt {
  width: 180px;
  margin-left: 19px;
  font-family: "Roboto Light", sans-serif;
  font-size: 15px;
  color: #ccc;
  line-height: 17px;
  letter-spacing: -0.45px; }

.step1 {
  background-image: url("../img/768-1.png"); }

.step2 {
  background-image: url("../img/768-2.png"); }
  .step2-- {
    margin-top: 258px; }

.step3 {
  background-image: url("../img/768-3.png"); }

.control-prev {
  position: absolute;
  top: 40px;
  left: 20px; }

.control-next {
  position: absolute;
  top: 40px;
  left: 186px; }

.partners {
  width: 525px;
  height: 690px;
  margin: 95px auto 0;
  position: relative;
  overflow: hidden; }
  .partners__title {
    width: 402px;
    margin: 0 auto 32px;
    padding-top: 1px;
    padding-right: 4px;
    font-family: "Montserrat Bold", sans-serif;
    font-size: 22px;
    color: #333; }
  .partners__list {
    position: relative;
    overflow: hidden; }

.partner {
  width: 220px;
  margin-left: 25px;
  margin-right: 11px;
  margin-bottom: 57px;
  float: left;
  text-align: center; }
  .partner__photo {
    margin-bottom: 10px;
    margin-left: 4px; }
  .partner__name {
    margin-bottom: 16px;
    font-family: "Montserrat Bold", sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 14px; }
  .partner__describe {
    font-family: "Roboto Light", sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 16px; }

.partners__other {
  display: block;
  width: 192px;
  height: 40px;
  margin: -19px auto 0;
  clear: both;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 14px;
  color: #ff4e50;
  text-align: center;
  line-height: 34px;
  border: 2px solid #ff4e50;
  border-radius: 23px;
  box-sizing: border-box; }
